<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" conten="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand  text-white">Empleado</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item ">

					<a class="nav-link" th:href="@{/empleados/index}">Inicio </a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" th:href="@{/empleados/clienteNuevo}">Registrar Cliente</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" th:href="@{/empleados/vehiculoNuevo}">Ingresar Vehiculo</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/empleados/todos}">Ver Clientes<span
							class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/empleados/todosVehiculo}">Ver Vehiculos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/empleados/retirarVehiculoBuscar}">Retirar Vehiculo Con Reserva</a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" th:href="@{/empleados/buscarVehiculos}">Retirar Vehiculo Sin Reserva</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link btn-danger" th:href="@{/sistema/index}">Salir</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container my-1 d-flex justify-content-center ">
		<h1>Actualizar cliente</h1>
	</div>
	<div class="container my-1 d-flex justify-content-center  ">




		<div class="card text-white bg-dark mb-3">
			<form action="#"
				th:action="@{/empleados/actualizar/{clieCedula}(clieCedula=${clie.cedula})}"
				th:object="${clie}" th:method="PUT">
				<div class="table table-dark table-striped">
				<table>
					<tr>
						<td><label class="col-form-label">Nombre:</label></td>
						<td><input type="text" class="form-control" id="nombre"
							th:field="*{nombre}"></td>
					</tr>
					<tr>
						<td><label class="col-form-label">Apellido:</label></td>
						<td><input type="text" class="form-control" id="apellido"
							th:field="*{apellido}"></td>
					</tr>

					<tr>
						<td><label class="col-form-label">Cedula:</label></td>
						<td><input type="text" class="form-control" id="cedula"
							th:field="*{cedula}" th:readonly="true"></td>
					</tr>



					<tr>
						<td><label class="col-form-label">Fecha Nacimiento:</label></td>
						<td><input type="datetime" class="form-control"
							id="fechaNacimiento" th:field="*{fechaNacimiento}"></td>
					</tr>

					<tr>
						<td><label class="col-form-label">Genero:</label></td>
						<td><select th:field="*{genero}">
								<option th:value="'M'" th:text="Masculino"></option>
								<option th:value="'F'" th:text="Femenino"></option>
						</select></td>
					</tr>

				</table>
				</div>
					<div class="container my-1 d-flex justify-content-center ">
					<input class="btn btn-info" type="submit" value="Actualizar">
				</div>
			</form>
		</div>
	</div>
</body>
</html>