<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="../css/misprimerosestilos.css" rel="stylesheet" type="text/css">
</head>


<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand">Empleado</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">

					<a class="nav-link" th:href="@{/empleados/index}">Inicio <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/empleados/clienteNuevo}">Registrar Cliente</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/empleados/vehiculoNuevo}">Ingresar Vehiculo</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/empleados/todos}">Ver Clientes</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/empleados/todosVehiculo}">Ver Vehiculos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/empleados/retirarVehiculoBuscar}">Retirar Vehiculo Con Reserva</a>
				</li>

				<li class="nav-item active">
					<a class="nav-link" th:href="@{/empleados/buscarVehiculos}">Retirar Vehiculo Sin Reserva</a>
				</li>
				
				<li class="nav-item ">
					<a class="nav-link btn-danger" th:href="@{/sistema/index}">Salir</a>
				</li>
			</ul>
		</div>
	</nav>
	<div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
		th:text="${mensaje}" class="alert">
	</div>
	
	</div>
	<div class="container my-1 d-flex justify-content-center ">
		<h1>Reservar vehículo</h1>
	</div>


	<div class="container my-1 d-flex justify-content-center ">

		<div class="card text-white bg-dark mb-3">
			<form th:action="@{/empleados/verificarVehiculo}" th:object="${reserva}" method="get">
				<div class="table table-dark table-striped">
					<table>
						<tr>
							<td>
								<label class="col-form-label">Placa:</label>
							</td>
							<td>
								<input class="form-control" type="text" id="placa" th:field="*{vehiculo.placa}"required>
							</td>
						</tr>
						<tr>
							<td>
								<label>Cedula:</label>
							</td>
							<td>
								<input class="form-control" type="text" id="cedula" th:field="*{cliente.cedula}"required>
							</td>
						</tr>
						<tr>
							<td>
								<label>Fecha inicio:</label>
							</td>
							<td>
								<input class="form-control" type="datetime-local" id="fechai" th:field="*{fechaInicio}"required>
							</td>
						</tr>
						<tr>
							<td>
								<label>Fecha fin:</label>
							</td>
							<td>
								<input class="form-control" type="datetime-local" id="fechaf" th:field="*{fechaFin}"required>
							</td>
						</tr>
						<tr>
						</tr>
					</table>
				</div>

				<div class="container my-1 d-flex justify-content-center ">
					<input class="btn btn-info" type="submit" value="Reservar">
				</div>
			</form>
		</div>
	</div>


</body>

</html>