<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="../css/misprimerosestilos.css" rel="stylesheet" type="text/css">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Cliente</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/clientes/index}">Inicio</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/clientes/clienteNuevo}">Registrar</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/clientes/actualizarCliente}">Actualizar Datos</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/clientes/reservar/buscarVehiculo}">Reservar <span
							class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" th:href="@{/clientes/buscarVehiculos}">Buscar Vehiculos</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link btn-danger" th:href="@{/sistema/index}">Salir</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container my-1 d-flex justify-content-center ">
		<h1>Reserva Realizada</h1>
	</div>
	<div class="container my-1 d-flex justify-content-center ">

		<div class="card text-white bg-dark mb-3">

			<div class="table table-dark table-striped">
				<table>
					<!--Para tablas dimanicas-->
					<!--cabecera tabla-->
					<thead>
						<tr>
							<th>Numero de reserva:</th>
							<th>Placa del Vehiculo</th>
							<th>Cedula Cliente</th>
							<th>Fecha de inicio</th>
							<th>Fecha fin</th>
							<th>SubTotal</th>
							<th>IVA</th>
							<th>Valor total </th>

						</tr>
					</thead>
					<!--cuerpo tabla-->
					<tbody>
						<tr>

							<td th:text="${reservaGenerada.numero}"></td>
							<td th:text="${reservaGenerada.vehiculo.placa}"></td>
							<td th:text="${reservaGenerada.cliente.cedula}"></td>
							<td th:text="${reservaGenerada.fechaInicio}"></td>
							<td th:text="${reservaGenerada.fechaFin}"></td>
							<td th:text="${#numbers.formatDecimal(reservaGenerada.cobro.valorSubtotal,1,2)}"></td>
							<td th:text="${#numbers.formatDecimal(reservaGenerada.cobro.valorIVA,1,2)}"></td>
							<td th:text="${#numbers.formatDecimal(reservaGenerada.cobro.valorTotalPagar,1,2)}"></td>
						<tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
</body>