<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible">
	<link href="../css/misprimerosestilos.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Cliente</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/clientes/index}">Inicio</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/clientes/clienteNuevo}">Registrar</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/clientes/actualizarCliente}">Actualizar Datos</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/clientes/reservar/buscarVehiculo}">Reservar <span
							class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" th:href="@{/clientes/buscarVehiculos}">Buscar Vehiculos</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link btn-danger" th:href="@{/sistema/index}">Salir</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container my-1 d-flex justify-content-center ">
		<h1>Reservar Vehiculo</h1>
	</div>
	<div class="container my-1 d-flex justify-content-center ">

		<div class="card text-white bg-dark mb-3">
			<div class="alert alert-danger" role="alert" th:if="${mensaje!=null}" th:text="${mensaje}"> </div>
			<div th:if="${reserva!=null} AND ${reserva.cobro!=null}">
				<h3> fechas solapadas</h3>
			</div>
		
			<form th:action="@{/clientes/verificarVehiculo}" th:object="${reserva}" method="get">
				<div class="table table-dark table-striped">
					<table>
						<tr>
							<td>
								<label class="col-form-label">Placa:</label>
							</td>
							<td>
								<input class="form-control" type="text" id="placa" th:field="*{vehiculo.placa}"
									required>
							</td>
						</tr>
						<tr>
							<td>
								<label>Cedula:</label>
							</td>
							<td>
								<input class="form-control" type="text" id="cedula" th:field="*{cliente.cedula}"
									required>
							</td>
						</tr>
						<tr>
							<td>
								<label>Fecha inicio:</label>
							</td>
							<td>
								<input class="form-control" type="datetime-local" id="fechai" th:field="*{fechaInicio}"
									required>
							</td>
						</tr>
						<tr>
							<td>
								<label>Fecha fin:</label>
							</td>
							<td>
								<input class="form-control" type="datetime-local" id="fechaf" th:field="*{fechaFin}"
									required>
							</td>
						</tr>
						<tr>
						</tr>
					</table>
				</div>
				<div class="container my-1 d-flex justify-content-center ">
					<input class="btn btn-info" type="submit" value="Pagar">
				</div>
			</form>
		</div>
	</div>



</body>



</html>