<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="../css/misprimerosestilos.css" rel="stylesheet" type="text/css">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Cliente</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
				
					<a class="nav-link" th:href="@{/clientes/index}">Inicio <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/clientes/clienteNuevo}">Registrar</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/clientes/actualizarCliente}">Actualizar Datos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/clientes/reservar/buscarVehiculo}">Reservar</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/clientes/buscarVehiculos}">Buscar Vehiculos</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link btn-danger" th:href="@{/sistema/index}">Salir</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="my-5"></div>
	<div class="card-deck">

		<div class="card">
			<img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/891/891372.png?w=360" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Registrarse</h5>
				<p class="card-text">Aqui se registrara el cliente
				</p>
			
				<a th:href="@{/clientes/clienteNuevo}" class="btn btn-primary">Ir</a>
			</div>
		</div>
		<div class="card">
			<img class="card-img-top" src="https://img.freepik.com/vector-premium/actualizar-icono-sistema-proceso-carga-actualizar-software-o-icono-progreso-aplicacion-vector-sobre-fondo-blanco-aislado-eps-10_399089-2838.jpg?w=740" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Actualizar Datos</h5>
				<p class="card-text">Aqui se actualizaran sus datos
				</p>
				
				<a th:href="@{/clientes/actualizarCliente}"class="btn btn-primary">Ir</a>
			</div>
		</div>
		<div class="card">
			<img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-dlzC_DzTVVlFe2iGo0AoTWR_rWsddNfi9pt1-kBgcymhzMKHZa3W0EFoQraGfr5zJm8&usqp=CAU" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Reservar Vehiculo</h5>
				<p class="card-text">Aqui se reservara su vehiculo
				</p>
				
				
				<a th:href="@{/clientes/reservar/buscarVehiculo}" class="btn btn-primary">Ir</a>
			</div>
		</div>
		<div class="card">
			<img class="card-img-top" src="https://www.horizontauto.com/images/buscar-coche.png" width="200"
				height="200" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Buscar Vehiculos Disponibles</h5>
				<p class="card-text">Aqui se buscara un vehiculo por su placa</p>

				
				<a th:href="@{/clientes/buscarVehiculos}" class="btn btn-primary"></i>Ir</a>


			</div>
		</div>
	</div>
</body>



</html>